/ass1.ipynb
/assignment1.ipynb
/atomicbomb.jpg
/barbie_flat.png
/bb.jpg
/bitslice.jpg
/bitslice0.jpg
/bitslice1.jpg
/bitslice2.jpg
/bitslice3.jpg
/bitslice4.jpg
/bitslice5.jpg
/bitslice6.jpg
/bitslice7.jpg
/bj.jpg
/bomb.jpg
/bt.jpg
/c.jpg
/e.jpg
/emily-blunt.jpg
/emily.jpg
/emily.png
/enhanced.jpg
/et.jpg
/extended_image.jpg
/final.png
/final1.png
/final2.png
/florence-pugh.png
/florence-pugh.webp
/g2.jpg
/gm2.jpg
/gmicro.jpg
/hiroshima-damage.jpg
/histo.jpg
/iris1.png
/low.png
/m1.png
/m2.jpg
/micro.jpg
/oppenheimer.png
/output.png
/PaddedImage.jpg
/padded_image.jpg
/piecewise.png
/pm.jpg
/pm1.jpg
/resized.jpg
/stairs2.png
/stairs2conv.png
/transformed.png